<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Django Page</title>
</head>
<body>
    <h1> This is a Django Course by Adesina</h1>
    <p>This course is created for my future students, maybe miss Owolabi</p>


    <h1>The data in models</h1>
        {% for item in Item_list %}
            <ul>
                <li>{{item.id}} -- {{item.item_name}} -- {{item.item_description}}--{{item.item_price}} </li>
            </ul>
        {% endfor %}
    
</body>
</html>